<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="scroll-content">
          <ion-item color="dark">
            <span item-start *ngIf="pedido.Numero">{{pedido?.Numero |number:'3.0-0'}}</span>
            <span item-start *ngIf="!pedido.Numero">[PEDIDO ELIMINADO]</span>
            <span item-start>{{cliente?.Nombre}}</span>
            <span item-end>del {{pedido?.Fecha |date:'dd/MM/yyyy'}} para {{pedido?.FechaEntrega |date:'dd/MM/yyyy'}}</span>
          </ion-item>
          <ion-list>
            <ion-item-divider color="toolBar">PENDIENTE ({{getItemsPendientes().length}})
              <button *ngIf="!usuario.isEmbalaje" ion-fab mini item-end color="dark" (click)="goPrintEmbalar()"><ion-icon name="print"></ion-icon></button>
            </ion-item-divider>
            <ion-item *ngFor="let item of getItemsPendientes()" color="scroll-content">
              <perfiles-perfil-img item-start [perfil]="item.Perfil"></perfiles-perfil-img>
              <button *ngIf="!usuario.isEmbalaje" item-start ion-fab mini color="danger" (click)="removeItem(item, fab)"><ion-icon name="close"></ion-icon></button>
              <h3>{{item?.Perfil?.Codigo}} - {{item?.Color?.Nombre}} - {{item?.Perfil?.Largo}}</h3>
              <button item-end ion-fab mini color="secondary" (click)="setEmbalado(item, true ,fab)">{{item?.Cantidad}}</button>
            </ion-item>
            <ion-item-divider color="toolBar">EMBALADO ({{getItemsEmbalados().length}})</ion-item-divider>
            <ion-item *ngFor="let item of getItemsEmbalados()" color="scroll-content">
              <perfiles-perfil-img item-start [perfil]="item.Perfil"></perfiles-perfil-img>
              <h3>{{item?.Perfil?.Codigo}} - {{item?.Color?.Nombre}} - {{item?.Perfil?.Largo}}</h3>
              <button item-end ion-fab mini color="danger" (click)="setEmbalado(item, false, fab)">{{item?.Cantidad}}</button>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab bottom left>
  <button ion-fab color="light" (click)="goBack()"><ion-icon name="close"></ion-icon></button>
</ion-fab>
<ion-fab bottom right #fab>
  <button ion-fab color="primary" >
    <ion-icon item-start name="icon-ind_new-document"></ion-icon>
  </button>
  <ion-fab-list side="left">
    <button ion-fab color="primary" *ngIf="!((getItemsEmbalados().length == 0)||(getItemsPendientes().length != 0))" (click)="prepararPedido()"><ion-icon name="done-all"></ion-icon></button>
    <button ion-fab color="secondary" *ngIf="!(!isModificado || getItemsPendientes().length == 0)" (click)="guardar()"><ion-icon name="checkmark"></ion-icon></button>
    <button ion-fab *ngIf="!usuario.isEmbalaje" color="danger" (click)="borrarPedido()"><ion-icon name="trash"></ion-icon></button>
  </ion-fab-list>
</ion-fab>