<ion-grid no-padding>
  <ion-row ion-item color="footer" no-lines>
    <h5 item-start>Pedido Nro: {{pedido?.Numero || 0 | number:'3.0-0'}}</h5>
    <div text-center>
      <h2>{{cliente?.Nombre}}</h2>
      <h4>{{ cliente?.Direccion?.Calle}} - {{cliente?.Direccion?.Localidad}} - {{cliente?.Telefonos[0]?.Numero}} ({{cliente?.Telefonos[0]?.Contacto}})</h4>
    </div>
    <h5 item-end>{{pedido?.Fecha |date:'dd/MM/yyyy'}}</h5>
  </ion-row>
  <ion-row no-padding>
    <button ion-item (click)="isShowEntrega = !isShowEntrega" color="listDivider1" no-lines>
      <ion-icon *ngIf="!validDireccion" item-start name="warning" color="danger"></ion-icon>
      Fecha y Lugar de Entrega
    </button>
  </ion-row>

  <ion-grid *ngIf="isShowEntrega" no-padding>
    <ion-row ion-item no-lines color="scroll-content" no-padding>
      <!-- Fecha Entrega -->
      <form-badge-input-item item-start padding-left label="Fecha de Entrega">
        <ion-input type="date" [(ngModel)]="pedido.FechaEntrega" name="FechaEntrega" required></ion-input>
      </form-badge-input-item>
      <!-- Direccion de Entrega -->
      <!-- Calle-->
      <form-badge-input-item item-start padding-left label="Calle">
        <ion-input type="text" [(ngModel)]="pedido.DireccionEntrega.Calle" name="Calle" required></ion-input>
      </form-badge-input-item>
      <!-- Localidad -->
      <form-badge-input-item item-start padding-left label="Localidad">
        <ion-input type="text" [(ngModel)]="pedido.DireccionEntrega.Localidad" name="Localidad" required></ion-input>
      </form-badge-input-item>
    </ion-row>
    <!-- Comentarios -->
    <ion-row ion-item color="scroll-content" no-padding no-lines>
      <ion-row>
        <ion-badge color="formLabel">Comentarios</ion-badge>
      </ion-row>
      <ion-badge ion-item color="formInput">
        <ion-textarea [(ngModel)]="pedido.Comentario" name="Comentarios"></ion-textarea>
      </ion-badge>
    </ion-row>
  </ion-grid>

  <ion-row no-padding>
    <button ion-item (click)="isShowAddItem = !isShowAddItem" color="listDivider2" no-lines>
      Agregar Item
    </button>
  </ion-row>
  <pedido-header-add-item *ngIf="isShowAddItem" (onNewItem)="pedido.Items.push($event)"></pedido-header-add-item>

</ion-grid>