
page-login {
    .toolbar{
        background-color: color($colors,toolBar); 
        opacity: $opacidad;
    }
    .scroll-content{
        background-color: color($colors,scroll-content);
        opacity: $opacidad;
    }
    .scroll-content.login{
        overflow-y: hidden;
    }
    .card{
        max-width: 400px;
        margin: auto;
        border-radius: 8px;
    }   
    .card-header{
        background-color: color($colors,toolBar); 
        color: wheat;
        opacity: 0.9;
    }
}
