<ion-header no-border>
  <ion-navbar color="toolBar" text-center>
    <ion-title>{{title}} {{reparto?.id |number:'3.0-0'}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <!-- Encabezado -->
    <form #formReparto="ngForm" novalidate>
      <button ion-item color="listDivider1" no-lines (click)="showDatos= !showDatos">
        <ion-icon *ngIf="!isDatosValid(formReparto)"  color="danger" name="warning"></ion-icon>
        Datos del Reparto
      </button>
      <ion-row [hidden]="!showDatos">
        <ion-col>
          <!-- id, fecha, nombre y chofer -->
          <ion-row>
            <!-- id -->
            <ion-col col-auto>
              <ion-row>
                <ion-badge color="formLabel">Numero</ion-badge>
              </ion-row>
              <ion-row>
                <ion-badge ion-item no-lines color="formInput">
                  <ion-spinner *ngIf="!reparto.id" color="dark" name="dots"></ion-spinner>
                  <h2 *ngIf="reparto.id">{{reparto.id |number:'3.0-0'}}</h2>
                </ion-badge>
              </ion-row>
            </ion-col>
            <!-- fecha -->
            <ion-col col-auto>
              <ion-row>
                <ion-badge color="formLabel">Fecha</ion-badge>
              </ion-row>
              <ion-row>
                <ion-badge ion-item no-lines color="formInput" >
                  <ion-input type="date" name="fecha" [(ngModel)]="reparto.fecha" required [readonly]="isReadOnly" no-margin></ion-input>
                </ion-badge>
              </ion-row>
            </ion-col>
            <!-- nombre -->
            <ion-col>
              <ion-row>
                <ion-badge color="formLabel">Etiqueta Reparto</ion-badge>
              </ion-row>
              <ion-row>
                <ion-badge ion-item no-lines color="formInput">
                  <ion-input type="text" name="nombre" [(ngModel)]="reparto.nombre" required [readonly]="isReadOnly"></ion-input>
                </ion-badge>
              </ion-row>
            </ion-col>
            <!-- chofer -->
            <ion-col col-auto>
              <ion-row>
                <ion-badge color="formLabel">Chofer</ion-badge>
              </ion-row>
              <ion-row>
                <ion-badge ion-item no-lines color="formInput">
                  <ion-input type="text" name="chofer" [(ngModel)]="reparto.chofer" required [readonly]="isReadOnly"></ion-input>
                </ion-badge>
              </ion-row>
            </ion-col>
          </ion-row>
          <!-- Comentarios -->
          <ion-row>
            <ion-col>
              <ion-row>
                <ion-badge color="formLabel">Comentarios</ion-badge>
              </ion-row>
              <ion-row>
                <ion-badge ion-item no-lines color="formInput">
                  <ion-textarea name="comentarios" [(ngModel)]="reparto.comentarios"></ion-textarea>
                </ion-badge>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <!--Pedidos Disponibles -->
      <button ion-item no-lines [hidden]="!(filtrarPedidos(pedidosEmbalados).length > 0)" color="listDivider2" (click)="showPedidosDisponibles= !showPedidosDisponibles">
        Pedidos Preparados ({{(filtrarPedidos(pedidosEmbalados).length)}})
      </button>
      <ion-row [hidden]="!showPedidosDisponibles || !(filtrarPedidos(pedidosEmbalados).length > 0)" ion-item no-lines>
        <table border="1" width="100%">
          <tr>
            <th>Cliente</th>
            <th>Localidad</th>
            <th>Numero</th>
            <th>Fecha</th>
            <th>Agregar</th>
          </tr>
          <tr *ngFor="let pedido of filtrarPedidos(pedidosEmbalados);let p=even;">
            <td text-center>{{getCliente(pedido?.idCliente)?.nombre}}</td>
            <td text-center>{{getCliente(pedido?.idCliente)?.Direccion?.localidad}}</td>
            <td text-right>{{pedido?.numero |number:'3.0-0'}}</td>
            <td text-center>{{pedido?.fecha |date:'dd/MM/yyyy'}}</td>
            <td text-center><button ion-button small tooltip="Agregar pedido al reparto actual" (click)="addPedido(pedido)"><ion-icon name="add"></ion-icon></button></td>
          </tr>
        </table>
      </ion-row>
      <!-- Clientes Agregados -->
      <button ion-item no-lines color="listDivider1" (click)="showPedidosAgregados = !showPedidosAgregados">
        <ion-icon *ngIf="!chkItems() || !(reparto.Items.length > 0)"  color="danger" name="warning"></ion-icon>
       Clientes en el Reparto ({{reparto?.Items?.length}})
      </button>
      <ion-row [hidden]="!showPedidosAgregados" *ngFor="let item of reparto.Items ;let itemIdx=index;let p=even;">
        <!-- Cliente -->
        <ion-item no-lines [color]="(p)?'listPar':'listImpar'">
          <button item-start ion-button small color="dark" tooltip="Ver Detalle" (click)="showPedidos[itemIdx] = !showPedidos[itemIdx]">
            <ion-icon *ngIf="showPedidos[itemIdx]" name="arrow-up"></ion-icon>
            <ion-icon *ngIf="!showPedidos[itemIdx]" name="arrow-down"></ion-icon>
          </button>
          <h3 item-start>
            {{item?.idCliente |number:'3.0-0'}} - {{getCliente(item?.idCliente)?.nombre}} ({{item?.Pedidos?.length}} pedido<span *ngIf="item?.Pedidos?.length > 1">s</span>)</h3>
          <h2 item-end><small> TK = {{item?.totalKilos|number:'1.2-2'}}kg. </small></h2>
          <h2 item-end><small> TP = U$ {{item?.totalPedidos|number:'1.2-2'}} </small></h2>
          <h2 item-end><span> SA = U$ {{item?.saldoActual |number:'1.2-2'}}</span></h2>
          <button ion-button item-end color="danger" tooltip="Quitar pedido del reparto" small (click)="removeCliente(itemIdx)"><ion-icon name="remove"></ion-icon></button>
        </ion-item>
        <!-- Pedidos -->
        <ion-row ion-item no-lines [hidden]="!showPedidos[itemIdx]">
          <ion-col>
            <table border="1" width="100%">
              <tr>
                <th>Nro. Pedido</th>
                <th>Fecha</th>
                <th>Kilos</th>
                <th>Paquetes</th>
                <th>Total Final (U$)</th>
                <th *ngIf="item.Pedidos.length > 1">Quitar</th>
              </tr>
              <tr *ngFor="let pedido of item.Pedidos;let pedidoIdx = index ;let p=even;">
                <td text-right>
                  <ion-icon *ngIf="!isExistPedido(pedido)" color="danger" name="warning" tooltip="Pedido modificado por otro Usuario!"></ion-icon>
                  {{pedido?.id|number:'3.0-0'}}
                </td>
                <td text-center>{{pedido?.fecha |date:'dd/MM/yyyy'}}</td>
                <td text-right>{{pedido?.totalUnidades |number:'1.2-2'}}kg.</td>
                <td text-right>{{pedido?.cantidadPaquetes}}</td>
                <td text-right>U$ {{pedido?.totalFinalUs |number:'1.2-2'}}</td>
                <td text-center *ngIf="item.Pedidos.length > 1"><button ion-button small color="danger" (click)="removePedido(item, pedidoIdx)"><ion-icon name="remove"></ion-icon></button></td>
              </tr>
            </table>
          </ion-col>
        </ion-row>
      </ion-row>
      <!-- Totales -->
      <button ion-item no-lines color="listDivider2" (click)="showTotales = !showTotales">Totales</button>
      <ion-row [hidden]="!showTotales || !(reparto?.Items?.length >0)" ion-item no-lines>
        <ion-col>
          <table border="1" width="100%">
            <tr>
              <th>Total Clientes</th>
              <th>Total Kilos</th>
              <th>Total (U$)</th>
              <th>Total por Cobrar(U$)</th>
              <th>Dolar($)</th>
              <th>Total por Cobrar($)</th>
            </tr>
            <tr>
              <td text-center>{{reparto?.Items?.length}}</td>
              <td text-right>{{reparto?.totalKilos |number:'1.2-2'}}kg.</td>
              <td text-right>U$ {{reparto?.totalDolares |number:'1.2-2'}}</td>
              <td text-right>U$ {{reparto?.saldoTotal |number:'1.2-2'}}</td>
              <td text-right>$ {{valorDolar |number:'1.3-3'}}</td>
              <td text-right>$ {{(reparto?.saldoTotal * valorDolar) |number:'1.2-2'}}</td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
<help-panel></help-panel>
<ion-fab top left>
  <button ion-fab color="light" tooltip="Cancelar cambios y Cerrar" (click)="goBack()"><ion-icon name="close"></ion-icon></button>
</ion-fab>
<ion-fab top right>
  <ion-row>
    <ion-col>
      <button ion-fab color="primary" tooltip="Guardar Reparto..." (click)="guardar()" [disabled]="!isValid(formReparto)"><ion-icon name="checkmark"></ion-icon></button>
    </ion-col>
    <ion-col>
      <button ion-fab color="secondary" tooltip="Confirmar Reparto..." (click)="confirmar()" [disabled]="!isValid(formReparto)"><ion-icon name="icon-ind_camion"></ion-icon></button>
    </ion-col>
    <ion-col>
      <button ion-fab color="danger" tooltip="Eliminar Reparto..." [disabled]="!isEdit" (click)="remove()"><ion-icon name="trash"></ion-icon></button>
    </ion-col>
  </ion-row>
</ion-fab>