<ion-content padding>
    <button ion-item color="toolBar" no-lines text-center (click)="isShowDatos = !isShowDatos">Ingreso de mercaderia</button>
    <ion-grid no-padding *ngIf="isShowDatos">
        <ion-row ion-item color="scroll-content" no-lines no-padding>
            <!-- Nro Ingreso -->
            <form-badge-item item-start label="Nro" padding-left>
                <ion-spinner *ngIf="!(docIngreso.numero > 0)" color="dark" name="dots"></ion-spinner>
                <h2 *ngIf="(docIngreso.numero > 0)">{{docIngreso?.numero |number:'3.0-0'}}</h2>
            </form-badge-item>
            <!-- Fecha -->
            <form-badge-input-item item-start label="Fecha" padding-left>
                <ion-input type="date" name="fecha" [(ngModel)]="docIngreso.fecha" [readonly]="isEdit"></ion-input>
            </form-badge-input-item>
            <!-- Nro Remito Ingreso -->
            <form-badge-input-item item-start label="Nro. Remito" padding-left>
                <ion-input type="text" [(ngModel)]="docIngreso.remito" name="Remito"  [readonly]="isEdit"></ion-input>
            </form-badge-input-item>
        </ion-row>
        <!-- Comentario -->
        <ion-row ion-item color="scroll-content" no-lines no-padding>
            <ion-row>
                <ion-badge color="dark">Comentarios</ion-badge>
            </ion-row>
            <ion-badge ion-item>
                <ion-textarea [(ngModel)]="docIngreso.comentario" name="Comentarios"  [readonly]="isEdit"></ion-textarea>
            </ion-badge>
        </ion-row>
    </ion-grid>
    <button ion-item color="subToolBar" (click)="isShowAddItem = !isShowAddItem" no-lines *ngIf="!isEdit" >Agregar item</button>
    <stock-ingreso-add-item *ngIf="isShowAddItem && !isEdit" (onNewItem)="addItem($event)"></stock-ingreso-add-item>
    <ion-grid>
        <ion-row *ngIf="docIngreso?.Items?.length > 0" ion-item color="dark" no-lines>
            <ion-col col-sm-2>Cant</ion-col>
            <ion-col col-sm-3>Codigo</ion-col>
            <ion-col>Color</ion-col>
        </ion-row>
        <ion-row ion-item color="{{(p)?'listPar':'listImpar'}}" no-lines *ngFor="let item of docIngreso?.Items;let idx=index;let p=even">
            <ion-col col-sm-2>{{item?.cantidad}}</ion-col>
            <ion-col col-sm-3>{{item?.Perfil?.codigo}}</ion-col>
            <ion-col>{{item?.Color?.nombre}}</ion-col>
            <button *ngIf="!isEdit"  ion-button clear item-end color="danger" (click)="removeItem(idx)"><ion-icon name="remove-circle"></ion-icon></button>
        </ion-row>
    </ion-grid>

</ion-content>
<ion-footer color="footer">
    <ion-item color="footer" no-lines>
       <span item-start> Total Barras: {{getTotalBarras()}}</span>
       <span item-start> Total Kilos: {{getTotalKilos() |number:'1.2-2'}}kg</span>
    </ion-item>
</ion-footer>
<ion-fab top left>
    <button ion-fab color="light" (click)="goBack()"><ion-icon name="close"></ion-icon></button>
</ion-fab>
<ion-fab top right>
    <button ion-fab color="primary" [disabled]="(docIngreso?.Items?.length < 1)||isEdit" (click)="guardar()"><ion-icon name="checkmark"></ion-icon></button>
</ion-fab>
<help-panel></help-panel>