<ion-grid fixed padding margin-auto>
  <ion-col>
    <!-- Header -->
    <ion-row ion-item no-lines>
      <h3>Pedido:{{pedido?.numero |number:'3.0-0'}} del {{pedido?.fecha|date:'dd/MM/yyyy'}} para {{pedido?.fechaEntrega|date:'dd/MM/yyyy'}}</h3>
      <h3><strong>Cliente: {{cliente?.id |number:'3.0-0'}} - {{cliente?.nombre}} - {{cliente?.Direccion?.calle}}, {{cliente?.Direccion?.localidad}}, {{cliente?.Direccion?.provincia}}</strong></h3>
    </ion-row>
    <!-- Body -->
    <ion-row ion-item no-lines>
      <table border=1 width="100%" cellPadding="3px">
        <tr>
          <th>Codigo</th>
          <th>Perfil</th>
          <th>Largo</th>
          <th>Color</th>
          <th>Cantidad</th>
          <th>Embalado</th>
        </tr>
        <tr *ngFor="let item of pedido.Items" text-center>
          <td>
            <h4>{{item?.Perfil?.codigo}}</h4>
          </td>
          <td width="82">
            <perfiles-perfil-img onlyImg=true [perfil]="item.Perfil"></perfiles-perfil-img>
          </td>
          <td>
            <h4>{{item?.Perfil?.largo}}</h4>
          </td>
          <td>
            <h4>{{item?.Color?.nombre}}</h4>
          </td>
          <td>
            <h3>{{item?.cantidad}}</h3>
          </td>
          <td>
            <ion-icon *ngIf="item.isEmbalado" name="checkmark-circle-outline"></ion-icon>
          </td>
        </tr>
      </table>
    </ion-row>
    <ion-row ion-item>
      <span item-start><strong>Paquetes:</strong></span>
    </ion-row>
  </ion-col>
</ion-grid>
<!-- Botones -->
<ion-fab top right>
  <button ion-fab mini color="light" *ngIf="!isPrint" (click)="goPrint()"><ion-icon name="print"></ion-icon></button>
  <button ion-fab mini color="light" *ngIf="!isPrint" (click)="goBack()"><ion-icon name="close"></ion-icon></button>
</ion-fab>