<ion-grid full padding margin-auto>
  <ion-col>
    <ion-row ion-item text-center no-lines>
      <h5 item-start>Pedido Nro:{{pedido?.numero |number:'3.0-0'}}</h5>
      <h4><strong>{{cliente?.id}} - {{cliente?.nombre}}</strong></h4>
      <h5 item-end>Fecha Pedido:{{pedido?.fecha}}<br>Fecha Entrega:{{pedido?.fechaEntrega}}</h5>
    </ion-row>
    <ion-row ion-item no-lines>
      <ion-row>
        <ion-col>
          <ion-row>
            <strong>Direccion:</strong> {{cliente?.Direccion.calle}}, {{cliente?.Direccion.localidad}}, {{cliente?.Direccion.provincia}}
          </ion-row>
          <ion-row>
            <strong> Direccion de entrega:</strong> {{pedido?.DireccionEntrega?.calle}}, {{pedido?.DireccionEntrega?.localidad}},
            {{pedido?.DireccionEntrega?.provincia}}
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row><strong>Telefonos</strong></ion-row>
          <ion-row *ngFor="let tel of cliente?.Telefonos;let i=index">
            <span *ngIf="i < 3">{{tel?.contacto}}: {{tel.numero}}</span></ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-row><strong>Comentarios</strong></ion-row>
        <ion-row>
          <p>{{pedido?.comentario}}</p>
        </ion-row>
      </ion-row>
    </ion-row>
    <!-- Items -->
    <ion-row ion-item no-lines>
      <table border=1 width="100%" cellPadding="3px">
        <tr>
          <th>Cantidad</th>
          <th>Codigo</th>
          <th>Color</th>
          <th>Largo</th>
          <th>Kilos</th>
          <th>Precio (U$)</th>
          <th>SubTotal</th>
        </tr>
        <tr [bgColor]="(p)?'silver':'white'" *ngFor="let item of pedido?.Items; let p=even" text-right>
          <td>{{item?.cantidad}}</td>
          <td>{{item?.Perfil?.codigo}}</td>
          <td text-center>{{item?.Color?.nombre}}</td>
          <td text-center>{{item?.Perfil?.largo}}</td>
          <td>{{item?.unidades |number:'1.2-2'}}kg.</td>
          <td>U$ {{item?.precioUs |number:'1.2-2'}}</td>
          <td>U$ {{(item?.unidades * item?.precioUs)|number:'1.2-2'}}</td>
        </tr>
      </table>
    </ion-row>
    <!-- Totales Pedido -->
    <ion-row padding>
      <table width="100%" border=1>
        <tr>
          <th>C.Paq.</th>
          <th>Kilos</th>
          <th>Subtotal</th>
          <th>D.Cant.</th>
          <th>D.Esp.</th>
          <th>Subtotal</th>
        </tr>
        <tr text-center>
          <td>{{pedido?.cantidadPaquetes}}</td>
          <td>{{pedido?.totalUnidades |number:'1.2-2'}}kg.</td>
          <td>U$ {{pedido?.totalUs |number:'1.2-2'}}</td>
          <td>{{pedido?.descuentoKilos |number:'1.2-2'}}%</td>
          <td>{{pedido?.descuentoGeneral |number:'1.2-2'}}%</td>
          <td>U$ {{getTotalConDescuentos() |number:'1.2-2'}}</td>
        </tr>
      </table>
    </ion-row>
    <!-- CV -->
    <ion-row padding>
      <table width="100%" border=1>
        <tr>
          <th>CV</th>
          <th>SF (U$)</th>
          <th>SF ($)</th>
          <th>CF (U$)</th>
          <th>CF ($)</th>
          <th>Total (U$)</th>
          <th>Total ($)</th>
        </tr>
        <tr text-center>
          <td>{{pedido?.CV?.tipo}}</td>
          <td>U$ {{calTotalSF() |number:'1.2-2'}}</td>
          <td>$ {{(calTotalSF() * pedido?.Dolar?.valor) |number:'1.2-2'}}</td>
          <td>U$ {{calTotalCF() |number:'1.2-2'}}</td>
          <td>$ {{(calTotalCF() * pedido?.Dolar?.valor) |number:'1.2-2'}}</td>
          <td>U$ {{calTotalFinal() |number:'1.2-2'}}</td>
          <td>$ {{(calTotalFinal() * pedido?.Dolar?.valor) |number:'1.2-2'}}</td>
        </tr>
      </table>
    </ion-row>
    <!-- Totales Y Cta. Cte. -->
    <ion-row padding>
      <table width="100%" border=1>
        <tr>
          <th *ngIf="!pedido?.isInCtaCte">Saldo Anterior</th>
          <th>Saldo Actual</th>
          <th>R.Dolar</th>
          <th>Total A Pagar ($)</th>
        </tr>
        <tr text-center>
          <td>U$ {{saldo |number:'1.2-2'}}</td>
          <td *ngIf="!pedido?.isInCtaCte">U$ {{saldo + calTotalFinal() |number:'1.2-2'}}</td>
          <td>$ {{pedido?.Dolar?.valor |number:'1.2-2'}}</td>
          <td *ngIf="!pedido?.isInCtaCte">$ {{(saldo + calTotalFinal()) * pedido?.Dolar?.valor |number:'1.2-2'}}</td>
          <td *ngIf="pedido?.isInCtaCte">$ {{(saldo) * pedido?.Dolar?.valor |number:'1.2-2'}}</td>
        </tr>
      </table>
    </ion-row>
  </ion-col>
</ion-grid>
<ion-fab top right>
  <button ion-fab color="dark" *ngIf="!isPrint" (click)="goPrint()"><ion-icon name="print"></ion-icon></button>
  <br>
  <button ion-fab color="dark" *ngIf="!isPrint" (click)="goBack()"><ion-icon name="close"></ion-icon></button>
</ion-fab>