<ion-card [color]="colorHeader">
  <button ion-item [color]="colorHeader" (click)="onClickHeader()">
    <ion-icon item-start name="logo-usd"></ion-icon>
    Cta. Cte. (U$ {{saldo |number:'1.2-2'}})
  </button>
  <ion-list *ngIf="showList && ctaCte && (ctaCte.length > 0 || isFiltrando )">
    <ion-row ion-item no-lines mo-padding color="toolBar">
      <ion-searchbar #buscar (ionInput)="onFilter($event)" (ionCancel)="onCancelFilter()" placeholder="Buscar comprobante..." ></ion-searchbar>
      <button ion-fab item-end mini color="light" (click)="print()"><ion-icon name="print"></ion-icon></button>
    </ion-row>
    <ion-row ion-item>
      <ion-col>Fecha</ion-col>
      <ion-col>Comprobante</ion-col>
      <ion-col item-end>Debe</ion-col>
      <ion-col item-end>Haber</ion-col>
      <ion-col item-end>Saldo</ion-col>
    </ion-row>
    <button ion-item *ngFor="let item of ctaCte" (click)="onClickItem(item)">
      <ion-col>{{item?.fecha |date:'dd/MM/yyyy'}}</ion-col>
      <ion-col>{{item?.tipoDocumento}}{{item?.numero |number:'3.0-0'}}</ion-col>
      <ion-col item-end>U$ {{item?.debe |number:'1.2-2'}}</ion-col>
      <ion-col item-end>U$ {{item?.haber|number:'1.2-2'}}</ion-col>
      <ion-col item-end>U$ {{item?.saldo|number:'1.2-2'}}</ion-col>
    </button>
  </ion-list>
</ion-card>