<ion-header>
  <ion-navbar color="toolBar">
    <ion-title>Clientes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only icon-left (click)="goClienteAdd()">
        <ion-icon name="icon-ind_user-add" ></ion-icon>
        <!-- Nuevo -->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-searchbar (ionInput)="onFindClientes($event)" [showCancelButton]="true" (ionCancel)="onFindCancel($event)" placeholder="Buscar cliente..."></ion-searchbar>
  <ion-list color="scroll-content">
    <ion-item *ngFor="let cliente of filterClientes" color="scroll-content">
      <h2 item-start>{{cliente?.id | number:'3.0-0'}} </h2>
      <div >
        <h2 item-start>{{cliente?.Nombre}}</h2>
        <h3>{{cliente?.Direccion?.Calle}} - {{cliente?.Direccion?.Localidad}} - {{cliente?.Direccion?.Provincia}}</h3>
      </div>
      <div item-end>
        <ion-navbar color="scroll-content">
          <ion-buttons end>
            <a *ngIf="cliente.Email" ion-button icon-only href="http://www.indumatics.com.ar/webmail/src/compose.php?mailbox=INBOX&startMessage=1&send_to={{cliente?.Email}}"
              target="_blank">
              <ion-icon name="at"></ion-icon>
            </a>
            <button ion-button icon-only  (click)="removeCliente(cliente)"><ion-icon name="icon-ind_user-remove" ></ion-icon><!-- Nuevo --></button>
          </ion-buttons>
        </ion-navbar>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer text-center color="footer" no-border>
  <small>&copy; Copyright 2017 by MAX </small>
</ion-footer>