<ion-card [color]="color">
  <button ion-item [color]="headerColor" (click)="showList = !showList">
      <ion-icon item-start name="logo-usd"></ion-icon>
      Dolar = $ {{dolar?.valor |number:'1.3-3'}}
    </button>
  <ion-list *ngIf="showList">
    <ion-item no-lines [color]="toolBarColor">
      <a ion-button small item-end clear href="http://www.bna.com.ar/Cotizador/MonedasHistorico" target="_blank"><img src="http://www.bna.com.ar/favicon.ico"></a>
    </ion-item>
    <button ion-item [color]="(p)?'itemColor':(itemImparColor)?'itemImparColor':'itemColor'" *ngFor="let item of dolarHistorico;let p=even;">
        <span item-start>{{item?.fecha | date:'dd/MM/yyyy'}}</span>
        <span item-end><strong>$ {{item?.valor |number:'1.3-3'}}</strong></span>
    </button>
  </ion-list>
</ion-card>