<ion-grid no-padding no-border>
  <ion-row>
    <button ion-item no-lines color="docHeader" text-center (click)="showClienteDetalle = !showClienteDetalle">
      <h6 item-start>{{pedido?.numero |number:'3.0-0'}} - {{pedido?.fecha |date:'dd/MM/yyyy'}}</h6>
      <h5>{{cliente?.id |number:'3.0-0'}} - {{cliente?.nombre}}</h5>
    </button>
  </ion-row>
  <ion-row *ngIf="showClienteDetalle" padding >
    <ion-row>
      <ion-col>
        <ion-row>
          <h5>Saldo Actual</h5>
        </ion-row>
        <ion-row><span><h4>U$ {{saldoActual |number:'1.2-2'}}</h4></span></ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <h6>Direccion</h6>
        </ion-row>
        <ion-row><span>{{cliente?.Direccion?.calle}}, {{cliente?.Direccion?.localidad}}</span></ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <h6>Telefonos</h6>
        </ion-row>
        <ion-row *ngFor="let tel of cliente?.Telefonos">
          <span>{{tel?.contacto}}: {{tel?.numero}} </span> <br>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <h6>Direccion de Entrega</h6>
        </ion-row>
        <ion-row><samp>{{pedido?.DireccionEntrega?.calle}}, {{pedido?.DireccionEntrega?.localidad}}</samp></ion-row>
      </ion-col>
    </ion-row>
  </ion-row>
</ion-grid>