<ion-header no-border>
  <ion-navbar color="toolBar" text-center>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <form #formBanco="ngForm" novalidate>
      <ion-row>
        <ion-col col-sm-2>
          <ion-row>
            <ion-badge color="formLabel">Nro</ion-badge>
          </ion-row>
          <ion-row>
            <ion-badge ion-item no-lines color="formInput">
              <ion-input (ionBlur)="isUniqueId()" type="number" min=0 [readonly]="isEdit" name="id" [(ngModel)]="newBanco.id" required></ion-input>
            </ion-badge>
            <ion-badge *ngIf="!isIdValid" color="danger"><small>Existente!</small></ion-badge>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-badge color="formLabel">Banco</ion-badge>
          </ion-row>
          <ion-row>
            <ion-badge ion-item no-lines color="formInput">
              <ion-input (ionBlur)="isUniqueNombre()" type="text" [readonly]="isEdit" name="Nombre" [(ngModel)]="newBanco.Nombre" required></ion-input>
            </ion-badge>
            <ion-badge *ngIf="!isNombreValid" color="danger"><small>Banco existente!</small></ion-badge>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row ion-item color="listDivider1" text-center no-lines>
        Sucursales
        <button item-end ion-fab mini color="primary" [disabled]="!isValid(formBanco)" (click)="addSucursal()"><ion-icon name="add"></ion-icon></button>
      </ion-row>
      <bancos-sucursales-list [banco]="newBanco" (clickSucursal)="goSucursal($event)"></bancos-sucursales-list>
    </form>
  </ion-grid>
</ion-content>
<ion-fab top left>
  <button ion-fab color="light" (click)="cancelar()"><ion-icon name="close"></ion-icon></button>
</ion-fab>
<ion-fab top right>
  <button ion-fab color="primary" [disabled]="!isValid(formBanco)" (click)="guardar()"><ion-icon name="done-all"></ion-icon></button>
</ion-fab>