<ion-header no-border>
  <ion-navbar color="toolBar" text-center hideBackButton=true>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <!-- Saldos,Ref Dolar y Total Pago -->
    <button ion-item no-lines color="listDivider1" (click)="showDatos = !showDatos">
          Datos del Pago
        </button>
    <ion-row [hidden]="!showDatos">
      <ion-col>
        <ion-row>
          <!-- Nro de Pago -->
          <ion-col col-auto>
            <ion-row>
              <ion-badge color="formLabel">Nro. Pago</ion-badge>
            </ion-row>
            <ion-row>
              <ion-badge ion-item no-lines color="formInput" no-margin>
                {{newPago.id |number:'3.0-0'}}
              </ion-badge>
            </ion-row>
          </ion-col>
          <!-- Fecha Pago -->
          <ion-col col-auto>
            <ion-row>
              <ion-badge color="formLabel">Fecha</ion-badge>
            </ion-row>
            <ion-row>
              <ion-badge ion-item no-lines color="formInput" no-margin>
                <ion-input no-margin type="date" name="fecha" [(ngModel)]="newPago.fecha" [readonly]="isViewOnly" required></ion-input>
              </ion-badge>
            </ion-row>
          </ion-col>
          <!-- Ref Dolar -->
          <ion-col col-auto>
            <ion-row>
              <ion-badge color="formLabel">Ref. Dolar</ion-badge>
            </ion-row>
            <ion-row>
              <ion-badge ion-item no-lines [color]="((newPago?.RefDolar?.valor >=0)&&(inrefDolar.value))?'formInput':'danger'" no-margin>
                <span item-start>$</span>
                <ion-input #inrefDolar no-margin type="number" name="refDolar" [(ngModel)]="newPago.RefDolar.valor" [readonly]="isViewOnly"
                  required></ion-input>
              </ion-badge>
            </ion-row>
          </ion-col>
          <!-- Saldo Cta Cte -->
          <ion-col col-auto>
            <ion-row>
              <ion-badge color="formLabel">Saldo Cta. Cte.</ion-badge>
            </ion-row>
            <ion-row>
              <ion-badge ion-item no-lines color="formInput" no-margin>
                U$ {{saldoCliente |number:'1.2-2'}}
              </ion-badge>
            </ion-row>
          </ion-col>
          <!-- Total Pago -->
          <ion-col col-auto>
            <ion-row>
              <ion-badge color="formLabel">Total Pago(U$)</ion-badge>
            </ion-row>
            <ion-row>
              <ion-badge ion-item no-lines color="formInput" no-margin>
                <strong>U$ {{calTotalPago() |number:'1.2-2'}}</strong>
              </ion-badge>
            </ion-row>
          </ion-col>
          <!-- Saldo Actual -->
          <ion-col col-auto>
            <ion-row>
              <ion-badge color="formLabel">Saldo Actual(U$)</ion-badge>
            </ion-row>
            <ion-row>
              <ion-badge ion-item no-lines color="formInput" no-margin>
                <strong>U$ {{calSandoActual() |number:'1.2-2'}}</strong>
              </ion-badge>
            </ion-row>
          </ion-col>
        </ion-row>
        <!-- Comentarios -->
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-badge color="formLabel">Comentarios</ion-badge>
            </ion-row>
            <ion-row>
              <ion-badge ion-item no-lines color="formInput">
                <ion-textarea name="comentarios" [(ngModel)]="newPago.comentarios" [readonly]="isViewOnly"></ion-textarea>
              </ion-badge>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Efectivo-->
    <button ion-item no-lines color="listDivider1" (click)="showEfectivo = !showEfectivo">
      Efectivo
    </button>
    <ion-row [hidden]="!showEfectivo">
      <!-- PESOS -->
      <ion-col col-auto>
        <ion-row>
          <ion-badge color="formLabel">Monto Efectivo ($)</ion-badge>
        </ion-row>
        <ion-row>
          <ion-badge ion-item no-lines [color]="((newPago?.efectivo >=0))?'formInput':'danger'" no-margin>
            <span item-start>$</span>
            <ion-input #inEfectivo no-margin type="number" name="efectivo" [(ngModel)]="newPago.efectivo" [readonly]="isViewOnly" required></ion-input>
          </ion-badge>
        </ion-row>
      </ion-col>
      <!-- DOLARES -->
      <ion-col col-auto>
        <ion-row>
          <ion-badge color="formLabel">Monto Dolares (U$)</ion-badge>
        </ion-row>
        <ion-row>
          <ion-badge ion-item no-lines [color]="((newPago?.dolares >=0))?'formInput':'danger'" no-margin>
            <span item-start>U$</span>
            <ion-input #inDolares no-margin type="number" name="dolares" [(ngModel)]="newPago.dolares" [readonly]="isViewOnly" required></ion-input>
          </ion-badge>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Cheques Header-->
    <ion-row ion-item no-lines color="listDivider1" text-center>
      Cheques
      <button *ngIf="!isViewOnly" item-end ion-button mini small color="primary" (click)="addCheque()"><ion-icon name="add"></ion-icon></button>
    </ion-row>
    <!-- Cheques List-->
    <ion-row ion-item no-lines [color]="(p)?'listPar':'listImpar'" *ngFor="let cheque of newPago?.Cheques; let idx=index;let p=even">
      <!-- Remover Item -->
      <button *ngIf="!isViewOnly" item-end ion-button small color="danger" (click)="removeCheque(idx)"><ion-icon name="remove"></ion-icon></button>
      <!-- Nro Cheque -->
      <form-badge-item item-start label="Nro. Cheque">
        <h2>{{cheque?.Cheque?.idBanco |number:'3.0-0'}}-{{cheque?.Cheque?.idSucursal |number:'3.0-0'}}-{{cheque?.Cheque?.numero
          |number:'8.0-0'}}
        </h2>
      </form-badge-item>
      <!-- Monto -->
      <form-badge-item item-start label="Monto($)">
        <h2>$ {{cheque?.Cheque?.monto |number:'1.2-2'}}</h2>
      </form-badge-item>
      <!-- Dolar Cheque -->
      <form-badge-input-item item-start label="Ref Dolar Cheque">
        <ion-input type="number" [readonly]="isViewOnly" name="dolar" [(ngModel)]="cheque?.Dolar.valor"></ion-input>
      </form-badge-input-item>
      <!-- Monto en Dolares -->
      <form-badge-item item-start label="Monto(U$)">
        <h2>U$ {{(cheque?.Cheque?.monto / cheque?.Dolar?.valor) |number:'1.2-2'}}</h2>
      </form-badge-item>
    </ion-row>
  </ion-grid>
</ion-content>
<footer-comun></footer-comun>

<ion-fab top right>
  <button ion-fab color="light" (click)="goBack()"><ion-icon name="close"></ion-icon></button>
  <br>
  <button ion-fab color="primary" [disabled]="!isValid() || isViewOnly" (click)="aceptar()"><ion-icon name="checkmark"></ion-icon></button>
  <br>
  <button ion-fab color="dark" [disabled]="!isValid()" (click)="print()"><ion-icon name="print"></ion-icon></button>
</ion-fab>
<help-panel></help-panel>