<ion-header no-border>
  <ion-navbar color="toolBar" text-center hideBackButton=true>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <!-- Saldos,Ref Dolar y Total Pago -->
    <button ion-item no-lines color="listDivider1" (click)="showDatos = !showDatos">
          Datos del Pago
        </button>
    <ion-row [hidden]="!showDatos">
      <ion-col>
        <ion-row>
          <!-- Nro de Pago -->
          <form-badge-item label="Nro. Pago" padding-left>
            <h2>{{newPago?.id |number:'3.0-0'}}</h2>
          </form-badge-item>
          <!-- Fecha Pago -->
          <form-badge-input-item label="Fecha" padding-left no-margin>
            <ion-input type="date" name="fecha" [readonly]="isViewOnly" [(ngModel)]="newPago.fecha"></ion-input>
          </form-badge-input-item>
          <!-- Saldo Cta Cte -->
          <form-badge-item label="Saldo Cta. Cte." padding-left>
            <h2>U$ {{saldoCliente |number:'1.2-2'}}</h2>
          </form-badge-item>
          <!-- Ref Dolar -->
          <form-badge-input-item label="Ref. Dolar" padding-left>
            <ion-input type="number" name="dolarValor" [readonly]="isViewOnly" [value]="dolar?.valor"></ion-input>
          </form-badge-input-item>
          <!-- Total Pago -->
          <form-badge-item label="Total Pago (U$)" padding-left>
            <h2>U$ {{calTotalPago() |number:'1.2-2'}}</h2>
          </form-badge-item>
          <!-- Saldo Actual -->
          <form-badge-item label="Saldo Actual" padding-left>
            <h2>U$ {{calSandoActual() |number:'1.2-2'}}</h2>
          </form-badge-item>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-badge color="formLabel">Comentarios</ion-badge>
            </ion-row>
            <ion-row>
              <ion-badge ion-item no-lines color="formInput">
                <ion-textarea name="comentarios" [(ngModel)]="newPago.comentarios"></ion-textarea>
              </ion-badge>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Efectivo-->
    <button ion-item no-lines color="listDivider1" (click)="showEfectivo = !showEfectivo">
      Efectivo
    </button>
    <ion-row [hidden]="!showEfectivo">
      <!-- PESOS -->
      <form-badge-input-item label="Monto Efectivo ($)">
        <ion-input type="number" [readonly]="isViewOnly" name="Efectivo" [(ngModel)]="newPago.efectivo"></ion-input>
      </form-badge-input-item>
      <!-- DOLARES -->
      <form-badge-input-item label="Monto Dolares (U$)" padding-left>
        <ion-input type="number" [readonly]="isViewOnly" name="dolares" [(ngModel)]="newPago.dolares"></ion-input>
      </form-badge-input-item>
    </ion-row>
    <!-- Cheques Header-->
    <ion-row ion-item no-lines color="listDivider1" text-center>
      Cheques
      <button *ngIf="!isViewOnly" item-end ion-button mini small color="primary" (click)="addCheque()"><ion-icon name="add"></ion-icon></button>
    </ion-row>
    <!-- Cheques List-->
    <ion-row ion-item no-lines [color]="(p)?'listPar':'listImpar'" *ngFor="let cheque of newPago?.Cheques; let idx=index;let p=even">
      <!-- Remover Item -->
      <button *ngIf="!isViewOnly" item-end ion-button small color="danger" (click)="removeCheque(idx)"><ion-icon name="remove"></ion-icon></button>
      <!-- Nro Cheque -->
      <form-badge-item item-start label="Nro. Cheque">
        <h2>{{cheque?.Cheque?.idBanco |number:'3.0-0'}}-{{cheque?.Cheque?.idSucursal |number:'3.0-0'}}-{{cheque?.Cheque?.numero
          |number:'8.0-0'}}
        </h2>
      </form-badge-item>
      <!-- Monto -->
      <form-badge-item item-start label="Monto($)">
        <h2>$ {{cheque?.Cheque?.monto |number:'1.2-2'}}</h2>
      </form-badge-item>
      <!-- Dolar Cheque -->
      <form-badge-input-item item-start label="Ref Dolar Cheque">
        <ion-input type="number" [readonly]="isViewOnly" name="dolar" [(ngModel)]="cheque?.Dolar.valor"></ion-input>
      </form-badge-input-item>
      <!-- Monto en Dolares -->
      <form-badge-item item-start label="Monto(U$)">
        <h2>U$ {{(cheque?.Cheque?.monto / cheque?.Dolar?.valor) |number:'1.2-2'}}</h2>
      </form-badge-item>
    </ion-row>
  </ion-grid>
</ion-content>
<footer-comun></footer-comun>

<ion-fab top right>
  <button ion-fab color="light" (click)="goBack()"><ion-icon name="close"></ion-icon></button>
  <br>
  <button ion-fab color="primary" [disabled]="!isValid() || isViewOnly" (click)="aceptar()"><ion-icon name="checkmark"></ion-icon></button>
  <br>
  <button ion-fab color="dark" [disabled]="!isValid()" (click)="print()"><ion-icon name="print"></ion-icon></button>
</ion-fab>
<help-panel></help-panel>