page-reparto-cerrar {
    .toolbar{
        background-color: color($colors,toolBar); 
        opacity: $opacidad;
    }   
     .scroll-content{
        background-color: color($colors,scroll-content);
        opacity: $opacidad;
        overflow-y:auto;   
    } 

    table{
        width: 100%;
    }
    .td-auto{
        width:1px;
        white-space:nowrap;
    }
}
