<ion-content>
  <pedido-header [pedido]="pedido" [cliente]="cliente"></pedido-header>
  <pedido-items-item [pedido]="pedido" [showRemove]=false></pedido-items-item>
</ion-content>
<ion-footer no-padding no-border>
  <ion-row ion-item no-lines no-padding color="subToolBar">
    <ion-col item-start>
      <ion-row><small>T.Kilos</small></ion-row>
      <ion-row><small>{{pedido?.totalUnidades |number:'1.2-2'}}kg.</small></ion-row>
    </ion-col>
    <ion-col item-start>
      <ion-row><small>SubTotal</small></ion-row>
      <ion-row>U${{pedido?.totalUs |number:'1.2-2'}}</ion-row>
    </ion-col>
    <ion-col item-start>
      <ion-row><small>DK(%)</small></ion-row>
      <ion-row><small>{{pedido?.descuentoKilos |number:'1.2-2'}}%</small></ion-row>
    </ion-col>
    <ion-col item-start>
      <ion-row><small>DG.(%)</small></ion-row>
      <ion-badge ion-button small color="scroll-content" (click)="setDescuentoGeneral()">
        {{pedido?.descuentoGeneral |number:'1.2-2'}}
      </ion-badge>
    </ion-col>
    <ion-col item-start>
      <ion-row><small>Total Neto</small></ion-row>
      <ion-row>U${{calTotalNeto() |number:'1.2-2'}}</ion-row>
    </ion-col>
    <ion-col item-start>
      <ion-row><small>CV</small></ion-row>
      <ion-badge ion-button small [color]="(pedido.CV)?'scroll-content':'danger'" (click)="setCV()">
        {{pedido?.CV?.tipo || '?'}}
      </ion-badge>
    </ion-col>
    <ion-col item-start>
      <ion-row><small>T.Final(U$)</small></ion-row>
      <ion-row>U${{calTotalFinal() |number:'1.2-2'}}</ion-row>
    </ion-col>
    <ion-col item-start>
      <ion-row><small>Dolar</small></ion-row>
      <ion-row><small>${{pedido?.Dolar?.valor |number:'1.2-2'}}</small></ion-row>
    </ion-col>
    <ion-col item-start>
      <ion-row><small>T.Final($)</small></ion-row>
      <ion-row>${{calTotalFinal() * pedido?.Dolar?.valor |number:'1.2-2'}}</ion-row>
    </ion-col>
  </ion-row>
</ion-footer>
<ion-fab top right>
  <button ion-fab color="light" (click)="goBack()"><ion-icon name="close"></ion-icon></button>
  <br>
  <button ion-fab color="danger" (click)="borrar()"><ion-icon name="trash"></ion-icon></button>
  <br>
  <button ion-fab color="primary" [disabled]="!isValid()" (click)="entregar()"><ion-icon name="icon-ind_camion"></ion-icon></button>
  <br>
  <button *ngIf="false" ion-fab color="secondary" [disabled]="!isValid()" (click)="entregar()"><ion-icon name="icon-ind_camion"></ion-icon></button>
  <br>
  <button *ngIf="false"  ion-fab color="dark" [disabled]="!isValid()" (click)="print()"><ion-icon name="print"></ion-icon></button>
</ion-fab>
<help-panel></help-panel>