<ion-header no-border>
  <ion-navbar text-center color="toolBar">
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <form #formCheque="ngForm" novalidate>
      <!-- Nro de Cheque -->
      <ion-row>
        <!-- Banco -->
        <ion-col>
          <ion-row>
            <ion-badge color="formLabel">Banco</ion-badge>
          </ion-row>
          <ion-row>
            <ion-badge ion-item no-lines color="formInput">
              <ion-input #nroBanco (ionChange)="chkBanco()" type="number" name="NroBanco" [(ngModel)]="newCheque.idBanco" [readonly]="isEdit"
                required></ion-input>
              <button *ngIf="!selBanco && !isEdit && nroBanco.value" ion-button item-end color="primary" (click)="addBanco()"><ion-icon name="add"></ion-icon></button>
            </ion-badge>
            <ion-badge *ngIf="!selBanco && !isEdit && nroBanco.value" color="danger"><small>Banco no encontrado!</small></ion-badge>
            <ion-badge *ngIf="selBanco" color="secondary"><small>{{selBanco?.nombre}}</small></ion-badge>
          </ion-row>
        </ion-col>
        <!-- Sucursal -->
        <ion-col>
          <ion-row>
            <ion-badge color="formLabel">Sucursal</ion-badge>
          </ion-row>
          <ion-row>
            <ion-badge ion-item no-lines color="formInput">
              <ion-input #nroSucursal (ionChange)="chkSucursal()" [disabled]="!selBanco" type="number" name="NroSucursal" [(ngModel)]="newCheque.idSucursal"
                [readonly]="isEdit" required></ion-input>
              <button *ngIf="selBanco && !selSucursal && !isEdit && nroSucursal.value" ion-button item-end color="primary" (click)="addSucursal()"><ion-icon name="add"></ion-icon></button>
            </ion-badge>
            <ion-badge *ngIf="selBanco && !selSucursal && !isEdit && nroSucursal.value" color="danger"><small>Sucursal no encontrada!</small></ion-badge>
            <ion-badge *ngIf="selBanco && selSucursal" color="secondary"><small>{{selSucursal?.nombre}}</small></ion-badge>
          </ion-row>
        </ion-col>
        <!-- Numero -->
        <ion-col>
          <ion-row>
            <ion-badge color="formLabel">Numero</ion-badge>
          </ion-row>
          <ion-row>
            <ion-badge ion-item no-lines color="formInput">
              <ion-input #nroCheque type="number" name="NroCheque" [disabled]="!selBanco || !selSucursal" [(ngModel)]="newCheque.numero"
                [readonly]="isEdit" required></ion-input>
            </ion-badge>
          </ion-row>
        </ion-col>
      </ion-row>
      <!-- Fechas -->
      <ion-row>
        <!-- Fecha Ingreso -->
        <ion-col>
          <ion-row>
            <ion-badge color="formLabel">Fecha Ingreso</ion-badge>
          </ion-row>
          <ion-row>
            <ion-badge ion-item no-lines color="formInput">
              <ion-input type="date" disabled=true [(ngModel)]="newCheque.fechaIngreso" name="FechaIngreso" required></ion-input>
            </ion-badge>
          </ion-row>
        </ion-col>
        <!-- Fecha Emision -->
        <ion-col>
          <ion-row>
            <ion-badge color="formLabel">Fecha Emision</ion-badge>
          </ion-row>
          <ion-row>
            <ion-badge ion-item no-lines color="formInput">
              <ion-input #fe type="date" [disabled]="nroCheque.disabled || !nroCheque.value" [(ngModel)]="newCheque.fechaEmision" name="FechaEmision" [readonly]="isEdit"
                required></ion-input>
            </ion-badge>
            <ion-badge *ngIf="!chkFechaEmision() && fe.value" color="danger"><small>{{errorMsgFechaEmision}}</small></ion-badge>
          </ion-row>
        </ion-col>
        <!-- Fecha Cobro -->
        <ion-col>
          <ion-row>
            <ion-badge color="formLabel">Fecha Cobro</ion-badge>
          </ion-row>
          <ion-row>
            <ion-badge ion-item no-lines color="formInput">
              <ion-input #fc type="date" [disabled]="!chkFechaEmision()" name="FechaCobro" [(ngModel)]="newCheque.fechaCobro" [readonly]="isEdit" required></ion-input>
            </ion-badge>
            <ion-badge *ngIf="!chkFechaCobro() && fc.value" color="danger"><small>{{errorMsgFechaCobro}}</small></ion-badge>
          </ion-row>
        </ion-col>
      </ion-row>
      <!-- Cta y Monto -->
      <ion-row>
        <!-- Cta -->
        <ion-col>
          <ion-row>
            <ion-badge color="formLabel">Nro. Cuenta</ion-badge>
          </ion-row>
          <ion-row>
            <ion-badge ion-item no-lines color="formInput">
              <ion-input type="text" name="Cuenta" [(ngModel)]="newCheque.cuenta" [readonly]="isEdit" required></ion-input>
            </ion-badge>
          </ion-row>
        </ion-col>
        <!--  Monto -->
        <ion-col>
          <ion-row>
            <ion-badge color="formLabel">Monto</ion-badge>
          </ion-row>
          <ion-row>
            <ion-badge ion-item no-lines color="formInput">
              <ion-input #monto type="number" name="Monto" [(ngModel)]="newCheque.monto" [readonly]="isEdit" required></ion-input>
            </ion-badge>
            <ion-badge *ngIf="!chkMonto() && monto.value" color="danger"><small>El monto debe ser mayor que 0!</small></ion-badge>
          </ion-row>
        </ion-col>
      </ion-row>
      <!-- Firmantes -->
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-badge color="formLabel">Firmates</ion-badge>
          </ion-row>
          <ion-row ion-item no-lines no-padding color="scroll-content">
            <ion-col>
              <ion-row ion-item no-lines no-padding color="scroll-content" *ngFor="let firmante of newCheque?.Firmantes; let idx=index">
                <button item-start ion-fab mini color="danger" *ngIf="idx > 0" (click)="removeFirmante(idx)"><ion-icon name="remove"></ion-icon></button>
                <ion-row>
                  <!-- CUIT -->
                  <ion-col>
                    <ion-row>
                      <ion-badge color="formLabel">CUIT</ion-badge>
                    </ion-row>
                    <ion-row>
                      <ion-badge ion-item no-lines color="formInput">
                        <ion-input #cuit type="number" name="CUIT{{idx}}" [(ngModel)]="firmante.CUIT" [readonly]="isEdit" required></ion-input>
                      </ion-badge>
                      <ion-badge *ngIf="!chkCuit(firmante.CUIT) && cuit.value" color="danger"><small>CUIT incorrecto!</small></ion-badge>
                    </ion-row>
                  </ion-col>
                  <!-- TITULAR -->
                  <ion-col>
                    <ion-row>
                      <ion-badge color="formLabel">Titular</ion-badge>
                    </ion-row>
                    <ion-row>
                      <ion-badge ion-item no-lines color="formInput">
                        <ion-input type="text" name="Nombre{{idx}}" [(ngModel)]="firmante.nombre" [readonly]="isEdit" required></ion-input>
                      </ion-badge>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-row>
            </ion-col>
            <button item-end ion-fab mini color="primary" (click)="addFirmante()"><ion-icon  name="add"></ion-icon></button>
          </ion-row>
        </ion-col>
      </ion-row>
      <!-- Comentarios -->
      <ion-row>
        <ion-col>
          <ion-row>
            <ion-badge color="formLabel">Comentarios</ion-badge>
          </ion-row>
          <ion-row>
            <ion-badge ion-item no-lines color="formInput">
              <ion-textarea name="comentarios" [(ngModel)]="newCheque.comentarios" [readonly]="isEdit"></ion-textarea>
            </ion-badge>
          </ion-row>
        </ion-col>
      </ion-row>
      <!--Cliente -->
      <ion-row *ngIf="isEdit" >
        <ion-col>
          <form-badge-input-item label="Cliente">
            <ion-input [(ngModel)]="cliente.nombre" name="cliente" readonly></ion-input>
          </form-badge-input-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>

<ion-fab top left>
  <button ion-fab color="light" (click)="cancelar()"><ion-icon name="close"></ion-icon></button>
</ion-fab>

<ion-fab top right>
  <button ion-fab color="primary" [disabled]="!isValid(formCheque)" (click)="aceptar()"><ion-icon name="checkmark"></ion-icon></button>
</ion-fab>