<ion-row no-padding>
  <!-- Cantidad -->
  <form-badge-input-item label="Cantidad" padding-left>
    <button ion-button small clear (click)="goSelectCantidad()">{{newItem?.Cantidad || 'Cantidad ?' }}</button>
  </form-badge-input-item>
  <!-- Perfil -->
  <form-badge-input-item label="Perfil" padding-left>
    <button ion-button small clear (click)="goSelectPerfil()">{{newItem?.Perfil?.Codigo || 'Perfil ?'}}</button>
  </form-badge-input-item>
  <!-- Color -->
  <form-badge-input-item label="Color" padding-left>
    <button ion-button small clear (click)="goSelectColor()">{{newItem?.Color?.Nombre || 'Color ?'}}</button>
  </form-badge-input-item>
  <ion-col align-self-center>
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <button ion-fab middle mini color="secondary" [disabled]="!(newItem.Cantidad > 0) || !newItem.Color || !newItem.Perfil" (click)="addItem()">
         <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>