<ion-card [color]="color">
  <button ion-item [color]="headerColor" (click)="showList = !showList">
    <ion-icon item-start name="icon-ind_new-document"></ion-icon>
     {{tipo}}s ({{Docs?.length}})
  </button>
  <ion-list *ngIf="showList">
    <button ion-item *ngFor="let pedido of Docs;let p=even" [color]="(itemImparColor)?((p)? itemColor: itemImparColor):itemColor"
      (click)="onClick(pedido)">
      <span item-start *ngIf="!cliente" >{{pedido.numero | number:'3.0-0'}} - {{getCliente(pedido.idCliente)?.nombre}}</span>
      <span item-start *ngIf="cliente" >{{pedido.numero | number:'3.0-0'}} - {{pedido.fechaEntrega | date:'dd/MM/yyyy'}}</span>
      <span item-end>{{pedido?.totalUnidades |number:'1.2-2'}}kg</span>
      <span item-end> U$ {{pedido?.totalFinalUs |number:'1.2-2'}}</span>
    </button>
  </ion-list>
</ion-card>