<ion-grid>
  <ion-row>
    <ion-col>
      <ion-badge [color]="labelColor">Calle</ion-badge>
      <ion-row>
        <ion-badge ion-item [color]="inputColor">
          <ion-input type="text" name="direccion.calle" [(value)]="direccion.calle" required></ion-input>
        </ion-badge>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-badge [color]="labelColor">Localidad</ion-badge>
      <ion-row>
        <ion-badge ion-item [color]="inputColor">
          <ion-input type="text" name="direccion.localidad" [(value)]="direccion.localidad" required></ion-input>
        </ion-badge>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-badge [color]="labelColor">Provincia</ion-badge>
      <ion-row>
        <ion-badge ion-item [color]="inputColor">
          <ion-input type="text" name="direccion.provincia" [(value)]="direccion.provincia" required></ion-input>
        </ion-badge>
      </ion-row>
    </ion-col>
    <ion-col>
      <ion-badge [color]="labelColor">Pais</ion-badge>
      <ion-row>
        <ion-badge ion-item [color]="inputColor">
          <ion-input type="text" name="direccion.pais" [(value)]="direccion.pais" required></ion-input>
        </ion-badge>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>