<div>
  <ion-card color="toolBar">
    <button ion-item color="pedidoEmbalarHeader" (click)="showList = !showList">
      <ion-icon item-start name="icon-ind_new-document"></ion-icon>
      Pedidos x Embalar ({{pedidos?.length}})
    </button>
    <ion-list *ngIf="!cliente && showList">
      <button ion-item *ngFor="let pedido of pedidos" (click)="goPedido(pedido, getCliente(pedido.idCliente))">
        {{pedido.Numero | number:'3.0-0'}} - {{getCliente(pedido.idCliente)?.Nombre}}
        <ion-icon item-end name="more"></ion-icon>
      </button>
    </ion-list>
    <ion-list *ngIf="cliente && showList">
      <button ion-item *ngFor="let pedido of pedidos" (click)="goPedido(pedido)">
        {{pedido.Numero | number:'3.0-0'}} - {{pedido.FechaEntrega | date:'dd/MM/yyyy'}}
        <ion-icon item-end name="more"></ion-icon>
      </button>
    </ion-list>
  </ion-card>
</div>