<ion-header no-border>
  <ion-navbar color="toolBar" hideBackButton=true text-center>
    <ion-title>{{title}}: [{{newCliente.id | number:'3.0-0'}}]</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form #addForm="ngForm" novalidate>
    <ion-list no-border>
      <!-- Empresa y Email -->
      <button ion-item text-center color="toolBar" (click)="isShowEmpresa = !isShowEmpresa">
        <ion-icon *ngIf="!chkEmpresaForm()" name="warning" color="danger"></ion-icon>
        EMPRESA
      </button>
      <ion-item-group color="scroll-content" *ngIf="isShowEmpresa">
        <ion-item color="scroll-content">
          <ion-label floating>Razon Social</ion-label>
          <ion-input type="text" [(ngModel)]="newCliente.nombre" name="nombre" required></ion-input>
        </ion-item>
        <ion-item color="scroll-content">
          <ion-label floating>Email</ion-label>
          <ion-input type="email" [(ngModel)]="newCliente.email" name="email" ></ion-input>
        </ion-item>
      </ion-item-group>
      <!-- Direccion -->
      <button ion-item text-center color="toolBar" (click)="isShowDireccion = !isShowDireccion">
        <ion-icon *ngIf="!chkDireccionForm()" name="warning" color="danger"></ion-icon>
        DIRECCION
      </button>
      <ion-item-group *ngIf="isShowDireccion" color="scroll-content">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-badge color="dark">Calle</ion-badge>
              <ion-row>
                <ion-badge ion-item>
                  <ion-input type="text" name="direccion.calle" [(ngModel)]="newCliente.Direccion.calle" required></ion-input>
                </ion-badge>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-badge color="dark">Localidad</ion-badge>
              <ion-row>
                <ion-badge ion-item>
                  <ion-input type="text" name="direccion.localidad" [(ngModel)]="newCliente.Direccion.localidad" required></ion-input>
                </ion-badge>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-badge color="dark">Provincia</ion-badge>
              <ion-row>
                <ion-badge ion-item>
                  <ion-input type="text" name="direccion.provincia" [(ngModel)]="newCliente.Direccion.provincia" required></ion-input>
                </ion-badge>
              </ion-row>
            </ion-col>
            <ion-col>
              <ion-badge color="dark">Pais</ion-badge>
              <ion-row>
                <ion-badge ion-item>
                  <ion-input type="text" name="direccion.pais" [(ngModel)]="newCliente.Direccion.pais" required></ion-input>
                </ion-badge>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item-group>
      <!-- Telefonos -->
      <button ion-item text-center color="toolBar" (click)="isShowTelefonos = !isShowTelefonos">
        <ion-icon *ngIf="!chkTelefonosForm()" name="warning" color="danger"></ion-icon>
        TELEFONOS
      </button>
      <ion-item-group *ngIf="isShowTelefonos">
        <ion-item-group *ngFor="let telefono of newCliente.Telefonos; let i = index">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item color="scroll-content">
                  <ion-label floating>Contacto</ion-label>
                  <ion-input type="text" [(ngModel)]="newCliente.Telefonos[i].contacto" name="contacto{{i}} " required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item color="scroll-content">
                  <ion-label floating>Numero</ion-label>
                  <ion-input type="tel" [(ngModel)]="newCliente.Telefonos[i].numero" name="numero{{i}}" required></ion-input>
                  <button ion-fab mini icon-only color="danger"><ion-icon name="remove"></ion-icon></button>
                </ion-item>
              </ion-col>
              <ion-col col-auto *ngIf="i > 0">
                <button ion-fab mini color="danger" tooltip="Quitar telefono" (click)="removeTelefono(i)"><ion-icon name="remove"></ion-icon></button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item-group>
        <button ion-fab mini color="secondary" tooltip="Agregar telefono" (click)="addTelefono()"><ion-icon name="add" ></ion-icon></button>
      </ion-item-group>
      <!-- Descuentos -->
      <button ion-item  text-center color="toolBar" (click)="isShowDescuentos = !isShowDescuentos">
        DESCUENTOS ({{getDescuentoAcumulado() | number:'1.2-2'}}% usado de {{usuario.maxDescuentoItem |number:'1.2-2'}}% permitido)
      </button>
      <ion-item-group *ngIf="isShowDescuentos">
        <ion-item color="scroll-content" no-lines>
          <ion-item color="scroll-content" *ngFor="let des of newCliente.Descuentos; let desIdx = index" no-lines>
            <span item-start>{{des?.id}} = {{des?.descuento |number:'1.2-2'}}%</span>
            <button item-start ion-fab mini color="danger" tooltip="Quitar descuento" (click)="descuentoRemoveItem(desIdx)"><ion-icon name="remove"></ion-icon></button>
          </ion-item>
          <button item-end ion-fab mini color="primary" tooltip="Agregar descuento" [disabled]="!(getDescuentoAcumulado() < usuario.maxDescuentoItem)" (click)="descuentoAddItem()"><ion-icon name="add"></ion-icon></button>
        </ion-item>
      </ion-item-group>
      <!-- Comentarios -->
      <button ion-item text-center color="toolBar" (click)="isShowComentarios = !isShowComentarios">
        COMENTARIOS
      </button>
      <ion-item-group *ngIf="isShowComentarios">
        <ion-item color="scroll-content">
          <ion-label floating>Comentarios</ion-label>
          <ion-textarea [(ngModel)]="newCliente.comentarios" name="Comentarios"></ion-textarea>
        </ion-item>
      </ion-item-group>

    </ion-list>
    <br>
  </form>
</ion-content>

<ion-fab top right>
  <button ion-fab color="light" tooltip="Cancelar y cerrar" (click)="onCancelar()"><ion-icon name="close"></ion-icon></button><br>
  <button ion-fab color="primary" tooltip="Guardar Cliente..." (click)="onAceptar()" [disabled]="!addForm.valid || !chkDireccionForm() || !chkEmpresaForm()">
        <ion-icon *ngIf="!isEdit" name="icon-ind_user-add"></ion-icon>
        <ion-icon *ngIf="isEdit" name="icon-ind_user-check" ></ion-icon>
      </button>
</ion-fab>

<help-panel></help-panel>