<div>
  <ion-list [color]="color" *ngIf="showImg">
    <button ion-item (click)="onClickItem(perfil)" *ngFor="let perfil of perfiles; let p = even" [color]="(p && colorPar)?colorPar:color" no-lines>
      <perfiles-perfil-img item-start [perfil]="perfil"></perfiles-perfil-img>
      <h2>{{perfil?.codigo}} - <small>(Linea {{perfil?.Linea?.nombre}})</small></h2>
      <h3>{{perfil?.descripcion}}</h3>
      <p>Largo: {{perfil?.largo || 0}}mm Pesos por Metro[ Natural: {{perfil?.pesoNatural || 0.000 |number:'1.3-3'}}kg Pintado:{{perfil?.pesoPintado
        || 0.000 |number:'1.3-3'}}kg ] {{perfil?.barrasPaquete || 0}} Barras por Paquete</p>
    </button>
  </ion-list>
  <ion-list [color]="color" *ngIf="!showImg">
    <button ion-item (click)="onClickItem(perfil)" *ngFor="let perfil of perfiles; let p = even" [color]="(p && colorPar)?colorPar:color"
      no-lines>
      <div item-start text-center>
        <h1>{{perfil?.codigo}}</h1>
        <small style="color:black;" item-start>Linea {{perfil?.Linea?.nombre}}</small>
      </div>
      <div>
        <h2>{{perfil?.descripcion}}</h2>
        <p>Largo: {{perfil?.largo || 0}}mm Pesos por Metro[ Natural: {{perfil?.pesoNatural || 0.000 |number:'1.3-3'}}kg Pintado:{{perfil?.pesoPintado
          || 0.000 |number:'1.3-3'}}kg ] {{perfil?.barrasPaquete || 0}} Barras por Paquete</p>
      </div>
    </button>
  </ion-list>
</div>