<ion-grid full padding margin-auto>
  <ion-col>
    <!-- Header -->
    <ion-row ion-item text-center no-lines>
      <h3 item-start>Numero: {{reparto?.id |number:'3.0-0'}}</h3>
      <h3>Reparto: {{reparto?.nombre}} - Chofer: {{reparto?.chofer}}</h3>
      <h3 item-end>Fecha: {{reparto?.fecha|date:'dd/MM/yyyy'}}</h3>
    </ion-row>
    <!-- Comentarios-->
    <ion-row ion-item no-lines>
      <div *ngIf="reparto.comentarios">
        <span><strong>Comentarios</strong> </span>
        <br>
        <p>{{reparto?.comentarios}}</p>
      </div>
    </ion-row>
    <!-- Clientes -->
    <ion-row ion-item no-lines text-center>

      <table border=1 width="100%" *ngFor="let item of reparto.Items">
        <!-- Cliente -->
        <tr>
          <td>
            <table border=1 width="100%">
              <tr hidden>
                <th>Cliente</th>
                <th>Localidad</th>
                <th>Total Kilos</th>
                <th>Saldo (U$)</th>
                <th>Saldo ($)</th>
                <th>PAGO EN EFECTIVO</th>
                <th>PAGO EN CHEQUES</th>
              </tr>
              <tr>
                <td text-center>{{item?.idCliente |number:'3.0-0'}}-{{getCliente(item?.idCliente)?.nombre}}</td>
                <td text-center>{{getCliente(item?.idCliente)?.Direccion?.localidad}}</td>
                <td text-right>{{item.totalKilos |number:'1.2-2'}}kg</td>
                <td text-right>U$ {{item.saldoActual |number:'1.2-2'}}</td>
                <td text-right>$ {{(item.saldoActual * reparto?.Dolar?.valor) |number:'1.2-2'}}</td>
                <td text-left>
                  <ion-row>
                    <ion-col col-auto>
                      <ion-icon color="silver" name="logo-usd"></ion-icon>
                    </ion-col>
                    <ion-col><span style="width: 5cm;"></span></ion-col>
                  </ion-row>
                </td>
                <td text-left>
                  <ion-row>
                    <ion-col col-auto>
                      <ion-icon color="silver" name="cash"></ion-icon>
                    </ion-col>
                    <ion-col><span style="width: 5cm;"></span></ion-col>
                  </ion-row>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <!-- Pedidos -->
        <tr>
          <td>
            <table border=1 width="100%" cellPadding="3px">
              <tr>
                <th>Pedido</th>
                <th>Fecha</th>
                <th>Kilos</th>
                <th>Total Final (U$)</th>
                <th>Total Final ($)</th>
                <th>---Comentarios---</th>
              </tr>
              <tr [bgColor]="(p)?'silver':'white'" *ngFor="let pedido of item.Pedidos; let p=even;">
                <td text-right>{{pedido?.id |number:'3.0-0'}}</td>
                <td text-center>{{pedido?.fecha |date:'dd/MM/yyyy'}}</td>
                <td text-right>{{pedido?.totalUnidades |number:'1.2-2'}}kg.</td>
                <td text-right>U$ {{pedido?.totalFinalUs |number:'1.2-2'}}</td>
                <td text-right>$ {{(pedido?.totalFinalUs * reparto?.Dolar?.valor) |number:'1.2-2'}}</td>
                <td></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </ion-row>
    <!-- Totales -->
    <ion-row ion-item no-lines text-center>
      <table border=1 width="100%">
        <tr>
          <th>Total Clientes</th>
          <th>Total Pedidos</th>
          <th>Total Kilos</th>
          <th>Total Pedidos (U$)</th>
          <th>Total a Cobrar (U$)</th>
          <th>Ref. Dolar</th>
          <th>Total a Cobrar ($)</th>
        </tr>
        <tr>
          <td text-center>{{reparto?.Items?.length}}</td>
          <td text-center>{{countTotalPedidos() |number:'1.0-0'}}</td>
          <td text-right>{{reparto?.totalKilos |number:'1.2-2'}}kg</td>
          <td text-right>U$ {{reparto?.totalDolares |number:'1.2-2'}}</td>
          <td text-right>U$ {{reparto?.saldoTotal |number:'1.2-2'}}</td>
          <td text-right>$ {{reparto?.Dolar?.valor |number:'1.3-3'}}</td>
          <td text-right>$ {{(reparto?.saldoTotal * reparto?.Dolar?.valor) |number:'1.2-2'}}</td>
        </tr>
      </table>
    </ion-row>
  </ion-col>
</ion-grid>

<!-- Botones -->
<ion-fab top right>
  <button ion-fab color="dark" *ngIf="!isPrint" (click)="goPrint()"><ion-icon name="print"></ion-icon></button>
  <br>
  <button ion-fab color="dark" *ngIf="!isPrint" (click)="goBack()"><ion-icon name="close"></ion-icon></button>
</ion-fab>