page-clientes-add {
    .toolbar{
        background-color: color($colors,toolBar); 
        opacity: $opacidad;
    }
    .scroll-content{
        background-color: color($colors,scroll-content);
        opacity: $opacidad;
        overflow-y: auto;
    }
    .footer{
        background-color: color($colors,footer); 
        opacity: $opacidad;
    }
}
